# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Maven
target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# OS / editor
.DS_Store
Thumbs.db
*.log
